node_modules/
npm-debug.log
yarn-error.log
.phpunit.result.cache
/nbproject/private/
nbproject/*
.vs/*
/vendor
.env
.env.testing
.idea
bootstrap/
!resources/sass/bootstrap
/.vscode
/.fleet
composer.phar
composer.lock
package-lock.json
.DS_Store
/phpunit.xml
/public/storage
/storage/*.key
/storage/app/*
/storage/app
/storage/framework/testing/*
/robots.txt
/package-lock.json
/composer.lock
/*.log
.phpunit.cache/
